/listings/index
<%= link_to "Create New Listing", new_listing_path %>
<table>
    <% @listing.each do |listing| %>
    <tr>
        <td><%= link_to listing.title, listing %></td>
    </tr>
    <% end %>
</table>

<%= will_paginate @listing %>