


<center>

        <div id="welcome_text_div">
            <p id="welcome_text">Welcome 2 PairBnB</p>
            <p id="welcome_under_text">Rent unique places to stay from local hosts in 190+ countries.</p>
            <a href="#" id="how_it_works">
                How It Works
            </a>
        </div>  
    </div> 
    
</center>

